.tecksd {
	padding: 3px;
	margin: 1px;
	width: 93%;
	height: 51;
	resize: none;
	outline: none;
 	border: none;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: 10pt;
	color: white;
	background: #123456;
	overflow:hidden;
	border-bottom-right-radius:1em;
	border-top-left-radius:1em;
/*	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;*/
/*	box-shadow: 1px 2px 7px 1px #0044FF;*/
}

.tecksded {
	width: 90%;
	resize: none;
	outline: none;
 	border: none;
	overflow: auto;
	position: relative;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: 70%;
	background: white;
/*	box-shadow: 1px 2px 7px #FFDD00;*/
}

.control {
	position:absolute;
	left: 0%;
}

.thelot {
	height: 100%;
}

.clicks {
	width: 25px;
	height: 25px;
	padding-bottom: 17%;
}

.whereitsat {
	position: absolute;
	width: 91%;
  height: 100%;
	left: 10%;
}

.cold-right {
	position: absolute;
	left:750px;
}

.scrolld {
	position:absolute;
	height: 100%;
	width: 104%;
	overflow: auto;
}

html {
				height: 100%;
				width:19em;
}
body {
	height: 100%;
	padding: 10px 50px 200px;
  background: #FFFFFF;
/*  background-image: url('./backgrid.png');*/

}

h1 {
  color: black;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
}

.padittop {
	padding-top: 0px;
}
.paditbot {
	padding-bottom: 0px;
}

p {
  color: #123456;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
}
div{
				overflow:hidden;
}

