.modalDialog {
position:fixed;
font-family: Arial, Helvetica, sans-serif;
top:0;
right:0;
bottom:0;
left:0;
background: rgba(0,0,0,0.8);
z-index: 17;
overflow-Y:scroll;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events:none;
}


.modalDialog:target {

opacity:1;
pointer-events:auto;
}

.modalDialog > div {

width: 80%;
height: 80%;
position: relative;
margin: 5% auto;
/*padding: 5px 20px 13px 20px;*/
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff,#999);
background: -o-linear-gradient(#fff,#999);
}
.close {
background:#606061;
color:#FFFFFF;
line-height:25px;
position:absolute;
right:-12px;
text-align:center;
top:-10px;
width:24px;
text-decoration:none;
font-weight: bold;
-webkit-border-radius:12px;
-moz-border-radius: 12px;
border-radius:12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;

}

#uld {
  list-style-type:none;
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
	overflow:hidden;
	vertical-align:middle;
}
#uld li {
				height:32px;
	vertical-align:middle;
}

#uld li:nth-child(odd) {
background-color:white;
	vertical-align:middle;
}
#uld li:nth-child(even) {

background-color:#CACACA;
	vertical-align:middle;
}

.close:hover { background: #00d9ff; }

a {
	font-family: "Lucida Console", Monaco, monospace;
  font-size: 10pt;
	vertical-align:middle;
}

.tecksd {
	width: 60%;
	height: 26px;
	resize: none;
	vertical-align:middle;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: 10pt;
	color: black;
/*  background: #126698;*/
	background: white;
	border: 1px solid #CACACA;
overflow:hidden;
}

.clicks {
	width: 10%;
	height: 100%;
	vertical-align:middle;
}
.remmy {
height:30px;
	vertical-align:middle;
}
.outerscrollhide {
	width: 100%;
	top:3%;
  height: 100%;
	left: 8%;
	overflow:hidden;
	background-color:white;
}

.innerscrollhide {
	position:static;
	height: 94%;
	width: 120%;
	overflow: auto;
	padding-right:20px;
}
.help {
  height:0%;
	width:120%;
	overflow:auto;
	margin:0;
	padding-top:0;
	padding-right:20px;
/*	border-top: 3px solid #CACACA;*/
  visibility:hidden;
}
.helper {
top:0px;
padding:0;
margin:0;

}
.padittop {
	padding-top: 0px;
}

.listdiv {
display:block;
margin-left:40px;
margin-right:auto;
}

.showhidehelp {
width:100%;
height:3%;
background-color:#FE3137;
}

.title {
	border: 3px solid #CACACA;
	position:absolute;
  top: 13%;
	height:5%;
  left:20%;
	height: 5%;
	width: 60%;
}

.textitle {
	width: 100%;
	/*height: 26px;*/
	height: 100%;
	resize: none;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: 10pt;
	color: black;
/*  background: #126698;*/
	background: white;
	border: none; 
overflow:hidden;
	vertical-align:middle;
}

.textdef {
	width: 80%;
	left:5%;
	height: 26px;
	resize: none;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: 10pt;
	color: black;
/*  background: #126698;*/
	background: white;
	border: none; 
	vertical-align:middle;
}

.errd {
visibility:hidden;
color: red;
font-size: 16pt;

}
.control {
	position:absolute;
	top: 0px;
	margin:0px;
	padding-left:0px;
	left:0px;
	height: 5%;
	width:100%;
	padding-bottom:37px;
}

.topcont {
top:0px;
width:25%;
height:100%;
}

#c1 {
				float:left;
				background-color:#01939A;
}
#c2 {
				float:left;
				background-color:#00C90D;
}
#c3 {
				float:left;
				background-color:#FF7600;
}
#c4 {
				float:left;
				background-color:#CE37C8;
}

.paditbot {
	padding-bottom: 0px;
}

.jsony {
position:absolute;
}

.rules {
	border: 3px solid #CACACA;
	position:absolute;
  top: 18%;
  left:20%;
	height: 50%;
	width: 60%;
}

.testarea {
position:relative;
height:50%;
left:20%;
width:60%;
resize:none;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
	font-size: 10pt;
	color: black;
/*  background: #126698;*/
	background: white;
	border: 3px solid #CACACA;
overflow:hidden;
}

.testbox {
position:absolute;
top:70%;  
height:50%;
width:60%;
left:20%;
}

.fullwindow {
position:static;
overflow:hidden;
height:100%;
width:100%;
}

html {
				height: 100%;
				width:19em;
	overflow:hidden;
}
body {
	height: 100%;
  background: #C5C9DC;
/*  background: #CFD2E2;*/
	background-color:white;
	overflow:hidden;
}

h1 {
  color: black;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
}


p {
  color: #123456;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 100;
}

/*modal :: rule*/

#fullcontainer {
height:100%;
width:100%;
overflow:hidden;
}
#title {
height:10%;
}
#options {
	width:100%;
	height:80%;
	background-color:#CACACA;
	overflow-y:scroll;
}
#rulebox {
    border:solid 1px #fff;
	width:100%;
	height:10%;
	background-color:gray;
}
#rulearea {
height:100%;
width:100%;
}
#divarea {
				float:left;
				position:relative;
height:80%;
top:7%;
width:100%;
}

/*modal :: rule*/
#titledrop {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
#titledisp {
height:100%;
width:50%;
float:left;
}

#titledroplist {
    list-style-type: none;
    margin: 0; 	
    float: left;
    padding:0;
		width:100%;
}
#ruletitle {
float:left;
width:100%;
height:100%;
}
/*rule title*/
#ruletitle {
    list-style-type: none;
    margin: 0;
    float: left;
    padding:0;
		width:100%;
}
#ruletitle li {
    float: left;
    position: relative;
		width:100%;
}
#ruletitle li a {
width:30%;
height:100%;
float:left;
color: #FFF;
text-align: center;
vertical-align:middle;
font-size: 16px;
background-color:#01939A;
text-decoration:none;
}
#ruletitle li p {
  width:70%;
  height:100%;
  float:left;
	top:0;
	margin:0;
	padding:0;

}
#ruletitle li a:hover {
    text-decoration:none;
}
#ruletitle li:hover .subnav {
    display: block;
}
/*FUCKER*/

/*#main-nav .subnav {*/

#ruletitle .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 1%;
    width: 30%;
    list-style-type: none;
    background: #fff;
    margin: 0;
    border:solid 1px #fff;
    z-index:51;
    padding:0;
}
				
/*#main-nav .subnav li {dd*/
#ruletitle .subnav li {
    display: block;
    border-bottom: solid 1px #eeeeee;
    margin:0;
		width:100%;
		z-index:999;
}
/*#main-nav .subnav li a {*/
#ruletitle .subnav li a {
    color: #FFF;
    height:10%;
		width:100%;
    padding:10px 0;
    font-size:13px;
		z-index:999;
}
/*#main-nav .subnav li a:hover {*/
#ruletitle .subnav li a:hover {
    background:gray;
		z-index:999;
}




#showdescriptions {
display:none;
}

#extremeprejudice {
visibility:visible;
height:100%;
width:100%;
}



#mininav-primary {
    list-style-type: none;
    margin: 0;
    float: left;
    padding:0;
		width:100%;
}
#mininav-primary li {
    float: left;
    position: relative;
		width:100%;
		z-index:999;
}
#mininav-primary li a {
    float: left;
    color: #000;
    text-align: center;
    font-size: 100%;
    height: 100%;
    line-height: 100%;
    width: 50%;
    text-decoration:none;
		z-index:999;
}
#mininav-primary li a:hover {
    text-decoration:none;
		z-index:999;
}
#mininav-primary li:hover .subnav {
    display: block;
		z-index:999;
}

.divrule {
height:17%;
width:100%;
}
.ruletitle {
height:25%;
width:100%;
z-index:-1;
}
.therule {
height:75%;
width:100%;
}
.ruletext {
position:relative;
float:left;
width:40%;
height:100%;
left:5%;
}
.ruletext textarea {
width:70%;
left:15%;
height:80%;

}
.presets {
position:relative;
float:left;
width:40%;
height:100%;
left:10%;
}
#clicker {
background-color:#FF7600;
height:5%;
}
